{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Deine Kontakte' %}{% endblock title %}

{% block content %}
<h1>{% trans "Deine Kontakte" %}</h1>
<p>
  {% trans "Diese Kontakte haben sich über deine Seite registriert, du kannst sie für gemeinsame Aktionen kontaktieren oder ihnen noch weitere Informationen schicken." %}
</p>
<table class="table">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>E-Mail</th>
      <th>Handy</th>
      <th>PLZ</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
    <tr>
      <td>
        {{contact.first_name}}
      </td>
      <td>
        {{contact.last_name}}
      </td>
      <td>
        {{contact.email}}
      </td>
      <td>
        {{contact.phone}}
      </td>
      <td>
        {{contact.zip_code}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  <a class="btn btn-secondary" href="mailto:{{request.user.email}}?bcc={% for contact in contacts %}{{contact.email}}{% if not forloop.last %},{% endif %}{% endfor %}">
    {% trans "Mail an alle Kontakte verfassen" %}
  </a>
  <a class="btn btn-secondary" href="{% url 'pages:contacts_csv' %}">
    {% trans "Kontakte als CSV" %}
  </a>
</p>
{% endblock %}
