{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Willkommen bei der Kampagne für die 99%!</h2>
<p>
{% blocktrans %}Oben kannst du deine eigene Unterstützungsseite erstellen und mit deinem Umfeld teilen. Alle, die sich dann über deine Seite registrieren, erscheinen später in deinen Kontakten.{% endblocktrans %}
</p>
<p>{% blocktrans %}Falls du Fragen zur Initiative hast, findest du alle relevanten Informationen unter 99prozent.ch/initiative. Dort gibt es ein ausführliches Argumentarium sowie nützliche Downloads.{% endblocktrans %}
</p>
{% endblock %}

