{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{% block title %}{% trans "Impressum" %}{% endblock %}</h1>
<p>Jungsozialist*innen Schweiz<br> Zentralsekretariat<br> Theaterplatz 4<br> 3011 Bern</p> <p>Telefon: 031 329 69 99</p> <p>Mail: info@juso.ch</p>
{% endblock %}
