{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
<h1>{% block title %}{% if object %}
  {% trans 'Seite bearbeiten' %}
  {% else %}
  {% trans 'Seite erstellen' %}
  {% endif %}
  {% endblock %}
</h1>
{% if object %}
<p>
{% trans 'Hier kannst du deine Seite überarbeiten.' %}
</p>
<a class="btn btn-sm btn-primary" href="{% url 'pages:page_detail' object.pk %}">{% trans "Seite anschauen" %}</a>
{% else %}
<p>
{% trans 'Hier kannst du deine eigene Seite erstellen.' %}
</p>
{% endif %}

<form class="form-horizontal" method="post" action="" enctype="multipart/form-data" {% if page.is_rtl %}dir="rtl"{% endif %}>
  {% csrf_token %}
  {{ form|crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="https://tsueri.cloud/apps/onlyoffice/s/LoocokATeRFeP3r" target="_blank" class="btn btn-link">{% trans 'Textvorschläge anschauen' %}</a>
    </div>
  </div>
</form>
{{form.media}}
{% endblock %}
