{% load static i18n crispy_forms_tags %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{{page.plain_content}}" />
    <meta property="og:image" content="{{page.image.og_image}}"/>
    <meta name="description" content="{{page.plain_content}}"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.plain_content}}">
    <meta name="twitter:image" content="{{page.image.twitter}}">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet"> 
    <script defer src="{% static 'js/icons.js' %}"></script>
    <script defer src="{% static 'js/fontawesome.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"/>
    <title>{% block title %}{{page.title}}{% endblock %}</title>

  </head>
  <body>

    {% if request.user == page.owner %}
    <nav>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'pages:page_update' page.pk %}">{% trans 'Bearbeiten' %}</a>

      <a href="{% url 'pages:contacts' %}">{% translate "Kontakte" %}</a>
      <a href="{% url 'users:account'  %}">{% translate "Profil" %}</a>
      <a href="{% url 'users:account_logout'  %}">{% translate "Abmelden" %}</a>
    </nav>
    {% endif %}

    <input type="checkbox" id="fab-share"/>
    <label id="fab-share-button" class="share-btn" for="fab-share">
      <i class="fas fa-share"></i>
    </label>
    <div class="social-media-button">
      <a href="#" class="sm-button share" id="share-api-button">
        <i class="fas fa-share-alt"></i>
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank" rel="noreferrer" class="sm-button facebook">
        <i class="fas fa-facebook"></i>
      </a>
      <a href="https://api.whatsapp.com/send?text={{request.build_absolute_uri}}" target="_blank" rel="noreferrer" class="sm-button whatsapp">
        <i class="fas fa-whatsapp"></i>
      </a>
      <a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri}}" target="_blank" rel="noreferrer" class="sm-button twitter">
        <i class="fas fa-twitter"></i>
      </a>
      <a href="https://t.me/share/url?url={{request.build_absolute_uri}}" target="_blank" rel="noreferrer" class="sm-button telegram">
        <i class="fas fa-telegram-plane"></i>
      </a>
    </div>

    <main>
      <article {% if page.is_rtl %}dir="rtl"{% endif %}>
        <img src="{{page.image.site}}"></img>
        <section class="content">
          <h1 >{{page.title}}</h1>
          {{page.safe_content}}
        </section>
      </article>
      <section>
        <form method="post">
          <p class="lead">{% trans "Tönt super? Dann melde dich jetzt an und unterstütze unsere Kampagne!" %}</p>
          <p class="small">{% trans "Wenn du dich anmeldest, kannst du deine eigene Seite erstellen, um deine Freund*innen zu informieren. Ausserdem schicken wir dir regelmässig die wichtigsten Informationen und erinnern dich abzustimmen." %}</p>
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit">{% trans 'Mitmachen' %}</button>

          <div class="privacy-note">
            {% include 'privacy_note.html' %}
          </div>
        </form>
      </section>
    </main>
    <footer>
      <a href="{% url 'home' %}">{% trans 'Start' %}</a>
      <a href="{% url 'privacy' %}">{% trans 'Datenschutz' %}</a>
      <a href="{% url 'impressum' %}">{% trans 'Impressum' %}</a>
    </footer>
  </body>
</html>
