{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{% block title %}{% trans "Datenschutz" %}{% endblock %}</h1>

<p>
Diese Seite verzichtet auf Tracking und Analytics. Wir setzen also keine Cookies ein, um das Verhalten unserer Nutzer*innen zu analysieren. Wir hätten eh nicht die Ressourcen, um das vernünftig auszuwerten. Also sammeln wir keine Daten und wir lassen auch Google, Facebook und co. keine Daten sammeln, wie das viele andere Seiten tun. Grundsätzlich kriegen Dritte also nicht mit, was du auf unserer Seite machst. Aber damit die Seite von uns bis zu dir kommt, sind verschiedene Dritte beteiligt, zum Beispiel dein Internetanbieter. Was die tun, können wir nicht kontrollieren.
<p>
</p>
Cookies setzen wir nur aus technischen Gründen ein, um uns vor sogenannten Cross-Site-Request Forgeries zu schützen. Diese Cookies werden nur gebraucht, wenn du auf dieser Seite ein Formular ausfüllst.
<p>
</p>
Ausserdem nutzen wir Apache Pagespeed um die Ladezeiten der Seiten zu optimieren. Dieses Modul nutzt verschiedene Methoden, um herauszufinden, wie die Seite schneller laden kann. Dein Browser kann verschiedene Signale schicken, damit unser Server die Ladezeiten optimieren kann. Wenn dein Browser zum Beispiel die Bildschirmauflösung mitschickt, können die Bilder automatisch in der richtigen Grösse geschickt werden. Oder dein Browser kann unserem Server mitteilen, dass die Internetverbindung nicht so gut ist, dann schickt der Server Bilder mit ein bisschen tieferer Qualität. All diese Optimierungen finden völlig automatisch statt und werden nicht verwendet, um dein Verhalten zu analysieren.

<p>
</p>
Wenn du Formulare auf dieser Seite ausfüllst, werden deine Antworten auf dem Server gespeichert und mit der IP Adresse verknüpft, von der aus du das Formular ausgefüllt hast. Je nachdem, was du für ein Formular ausgefüllt hast, werden diese Daten dann weiter verarbeitet. Wenn du z. B. Material bestellst, geben wir die Adresse der Post weiter, damit sie dir das Material liefern kann. Wenn du dich für einen Newsletter anmeldest, verwenden wir meistens einen externen Dienst, um die Mails zu verschicken. In den meisten Fällen ist das Mailchimp. Mailchimp wird von vielen Organisation verwendet und steht unter einem sogenannten Privacy Shield mit der Schweiz. Das heisst, die Firma steht zwar in den USA, hält sich aber trotzdem an die Schweizer Datenschutzgesetze. Das macht das ganze nicht wirklich besser, das Datenschutzgesetz in der Schweiz ist nämlich nicht das beste. Aber das bedeutet, dass du bei Mailchimp Auskunft beantragen kannst über die Daten, die sie über dich speichern.
<p>
{% endblock %}
