{% extends 'base.html' %}

{% load i18n static %}

{% block css %}
{{block.super}}
<style>
.facebook {
  background-color: #3b5998;
  color: white;
}

.whatsapp {
  background-color: #25d366;
  color: white;
}

.twitter {
  background-color: #55acee;
  color: white;
}

.telegram {
  background-color: #0088cc;
  color: white;
}

.share-buttons a.btn:hover {
  color: #212529;
  color: #94bbe1;
}
</style>
{% endblock %}


{% block javascript %}

{{block.super}}
<script defer src="{% static 'js/icons.js' %}"></script>
<script defer src="{% static 'js/fontawesome.min.js' %}"></script>
{% endblock %}

{% block content %}
<h1>{% block title %}{% trans 'Vielen Dank!' %}{% endblock %}</h1>
<p>
  {%  blocktrans %}Herzlich willkommen bei der Kampagne für die 99%!{% endblocktrans %}
</p>
{% url 'users:account_login' as login_url %}
<p>
  {% blocktrans %}Du hast ein Mail bekommen, um dich anzumelden. Damit kannst du jetzt deine eigene Seite erstellen, um deine Freund*innen zu mobilisieren!{% endblocktrans %} {% if form.instance.signed_up_through %}{% blocktrans %}Falls du selber keine Seite erstellen willst, kannst du die Seite deiner Freund*in mit deinem Umfeld teilen:{% endblocktrans %}
</p>
<div class="share-buttons">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank" rel="noreferrer" class="btn facebook">
    <i class="fas fa-facebook"></i> Facebook
  </a>
  <a href="https://api.whatsapp.com/send?text={{request.build_absolute_uri}}" target="_blank" rel="noreferrer" class="btn whatsapp">
    <i class="fas fa-whatsapp"></i> Whatsapp
  </a>
  <a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri}}" target="_blank" rel="noreferrer" class="btn twitter">
    <i class="fas fa-twitter"></i> Twitter
  </a>
  <a href="https://t.me/share/url?url={{request.build_absolute_uri}}" target="_blank" rel="noreferrer" class="btn telegram">
    <i class="fas fa-telegram-plane"></i> Telegram
  </a>
</div>{% else %}</p>{% endif %}
{% endblock %}
