:root {
  --white: #fff;
  --blue: #0087cc;
  --red: #d20729;
  --yellow: #fcc978;
  --anthrazit: #262626;
  --violett: #6217ad;
  --green: #3b8632;
  --orange: #ffb100;
  --olive: #a8c686;
  --teal: #00acab;
  --purple: #473144;
  --pink: #ee92c2;
  --brown: #352208;
  --grey: #aaa;

  --highlight-color: var(--blue);
  --light-color: var(--white);
  --body-font: "Montserrat", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --button-font: "Montserrat", sans-serif;
  --menu-font: "Montserrat", sans-serif;
  --primary-color: var(--blue);
  --box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px;
  --border-radius: 0;
  --menu-weight: 900;
  --button-weight: 900;

  --black: var(--anthrazit);

  --light-color: var(--white);

  --text-color: var(--anthrazit);
  --background-color: var(--white);
  --footer-background-color: var(--anthrazit);
  --footer-text-color: var(--white);
  --inner-padding: 1vh;
}

body {
  font-size: clamp(15px, 2vw, 22px);
  font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.65;
}
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: var(--title-font);
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

main {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  width: 100%;
}

article img {
  position: sticky;
  top: -120px;
  z-index: 0;
}

main > article {
  flex: 1 1 66%;
  background-color: var(--yellow);
  max-width: 1200px;
}

main > section {
  flex: 1 1 33%;
}

.content {
  background: var(--white);
  margin: -14vw auto 4em auto;
  box-shadow: var(--box-shadow);
  padding: 0.5em 1em;
  position: relative;
  z-index: 10;
  max-width: min(1080px, 90%);
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  height: 12vw;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

footer a {
  color: var(--white);
  margin: 1em 1em;
  text-decoration: none;
  font-size: 0.8em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
  min-width: 270px;
  max-width: min(800px, 100%);
  position: sticky;
  top: 0;
}

form label {
  font-size: 0.8em;
}

.form-control {
  width: 100%;
}

.form-group {
  margin: 0.5em 0;
}

form .asteriskField {
  display: none;
}

form input[type="text"],
form input[type="email"] {
  border: none;
  border-bottom: solid var(--text-color) 2px;
  outline: none;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
  border-bottom-color: var(--highlight-color);
}

.button,
button,
a.button,
button.button {
  padding: 0.5em 1em;
  border: var(--primary-color) solid 3px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--button-font);
  font-weight: var(--button-weight);
  display: inline-block;
  line-height: 1em;
  margin: 0.5em 0;
  word-break: normal;
}

.privacy-note {
  font-size: 0.6em;
  margin-bottom: 1em;
}

nav {
  display: flex;
  justify-content: flex-start;
  background: var(--red);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 20;
  padding-left: 2em;
}

nav a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.3em 0;
  font-weight: bold;
  margin: 0 0.6em;
}

footer::before {
  width: 72%;
  height: 2px;
  background: var(--white);
  content: "";
  position: absolute;
  margin-top: -4em;
  max-width: 90%;
}

#fab-share {
  display: none;
}
.share-btn {
  position: fixed;
  bottom: 1rem;
  width: 50px;
  left: var(--inner-padding);
  height: 50px;
  background-color: var(--white);
  border-radius: 25px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  z-index: 15;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.sm-button {
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  z-index: 14;
  margin-top: 0.5rem;
  cursor: pointer;
}

.sm-button.facebook {
  background-color: #3b5998;
  color: white;
}

.sm-button.whatsapp {
  background-color: #25d366;
  color: white;
}

.sm-button.twitter {
  background-color: #55acee;
  color: white;
}

.sm-button.telegram {
  background-color: #0088cc;
  color: white;
}

.sm-button.share {
  background-color: var(--background-color);
  color: var(--text-color);
  display: none;
}
.sm-button.share.enabled {
  display: inherit;
}

.social-media-button {
  position: fixed;
  bottom: 5rem;
  flex-direction: column;
  left: var(--inner-padding);
  z-index: 14;
  transform: scale(0.5, 0);
  transform-origin: 50% calc(100% + 0.5rem + 25px);
  display: flex;
  -webkit-transition: -webkit-transform 400ms
    cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -o-transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  width: 50px;
}

#fab-share:checked ~ .social-media-button {
  transform: scale(1);
}

.small {
  margin: none;
  font-size: 0.8em;
}

.lead {
  font-weight: bold;
  margin-bottom: 0.1em;
}

.invalid-feedback {
  font-size: 0.6em;
  color: var(--red);
  margin: 0;
}
