/* These styles are generated from project.scss. */
:root {
  --font-family-sans-serif: Montserrat;
  --white: #fff;
  --blue: #0087cc;
  --red: #d20729;
  --yellow: #fcc978;
  --anthrazit: #262626;
  --violett: #6217ad;
  --green: #3b8632;
  --orange: #ffb100;
  --olive: #a8c686;
  --teal: #00acab;
  --purple: #473144;
  --pink: #ee92c2;
  --brown: #352208;
  --grey: #aaa;
  --black: var(--anthrazit);
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* bootstrap.min.css | https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css */

.bg-light {
  background-color: var(--red) !important;
  color: var(--white) !important;
}

.navbar-nav {
  color: var(--white);
}

/* Inline #4 | http://127.0.0.1:8000/ */

.navbar-nav a.nav-link {
  color: var(--white) !important;
}

.navbar-brand {
  color: var(--white) !important;
}

.navbar.navbar-expand-md.navbar-light.bg-light {
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
}
footer {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  height: 12vw;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 3em;
  min-height: 6em;
}

footer a {
  color: var(--white);
  margin: 1em 1em;
  text-decoration: none;
}
footer::before {
  width: 72%;
  height: 2px;
  background: var(--white);
  content: "";
  position: absolute;
  margin-top: -4em;
  max-width: 90%;
}

.container {
  min-height: calc(100vh - 6em);
}

#nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 20;
}
