{% load i18n %}
{% url 'privacy' as privacy_url %}

{% url 'users:account_signup' as signup_url%}
{% blocktrans %}
<p>
Mit dem Absenden erklärst du dich mit unseren <a href="{{ privacy_url }}">Datenschutzbestimmungen</a> einverstanden.
</p>
<p>
  Zugriff zu deinen Daten hat nur die Kampagne für die 99% Initiative, und die
  Person, die diese Seite erstellt hat. Du wirst Kampagnenmails bekommen und die
  Person, die die Seite erstellt hat, kann dich für gemeinsame Aktionen
  kontaktieren.
</p>
<p>
  Wenn du nur von der Kampagne kontaktiert werden möchtest, kannst du dich auch
  <a href="{{ signup_url }}">direkt anmelden.</a>
</p>
{% endblocktrans %}
