
{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<h1>{% block title %}{% trans "Deine Angaben" %}{% endblock %}</h1>
<p>
  <form action="" method="post">
    {% csrf_token %}
  <table class="table">
    <tbody>
      {{form}}
    </tbody>
  </table>
  <a href="{% url 'users:account' %}" class="btn btn-secondary">{% trans 'Zurück' %}</a>
  <button type="submit" class="btn btn-primary">{% trans 'Speichern' %}</button>

  </form>
</p>
{% endblock content %}
