

{% extends 'base.html' %}

{% load i18n crispy_forms_tags %}

{% block content %}
<h1>{% block title %}{% trans 'Löschen bestätigen' %}{% endblock %}</h1>
<p>
<form method="post">
  {% csrf_token %}
  {{form|crispy}}
  <a href="{% url 'users:account' %}" class="btn btn-primary">{% trans 'Zurück' %}</a>
  <button type="submit" class="btn btn-danger">{% trans 'Endgültig Löschen' %}</button>
</form>
</p>
{% endblock %}
