{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<h1>{% block title %}{% trans "Deine Angaben" %}{% endblock %}</h1>
<p>
  <table class="table">
    <tbody>
      <tr>
        <th>{% trans "Vorname" %}</th>
        <td>{{user.first_name|default:"-"}}</td>
      </tr>
      <tr>
        <th>{% trans "Nachname" %}</th>
        <td>{{user.last_name|default:"-"}}</td>
      </tr>
      <tr>
        <th>{% trans "E-Mail" %}</th>
        <td>{{user.email|default:"-"}}</td>
      </tr>
      <tr>
        <th>{% trans "PLZ" %}</th>
        <td>{{user.zip_code|default:"-"}}</td>
      </tr>
      <tr>
        <th>{% trans "Stadt" %}</th>
        <td>{{user.city|default:"-"}}</td>
      </tr>
      <tr>
        <th>{% trans "Telefon Nr." %}</th>
        <td>{{user.phone|default:"-"}}</td>
      </tr>
      <tr>
        <th>{% trans "Sprache" %}</th>
        <td>{{user.language|default:"-"}}</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'users:account_update' %}" class="btn btn-primary">{% trans 'Aktualisieren' %}</a>
  <a href="{% url 'users:account_delete' %}" class="btn btn-link">{% trans 'Profil löschen' %}</a>
</p>
{% endblock content %}
