{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block content %}

<h1>{% trans 'Anmelden' %}</h1>

<p>{% trans 'Gib deine E-Mail Adresse an, wir schicken dir dann einen Link, mit dem du dich anmelden kannst.' %}</p>
<form class="form-horizontal mb-2" method="post" action="">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
    </div>
  </div>
</form>
{% url 'users:account_signup' as register_url %}
<p>{% blocktrans %}Noch kein Zugang? <a href="{{register_url}}">Registriere dich jetzt mit deiner E-Mail Adresse</a>.</p>{% endblocktrans %}
{% endblock content %}
