{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block content %}
<h1>{% trans 'Registrieren' %}</h1>

<form
  class="form-horizontal mb-2"
  method="post"
  action="{% url 'users:account_signup' %}"
>
  {% csrf_token %}
  {{ form | crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">
        {% trans 'Absenden' %}
      </button>

      <div class="form-text text-muted">
        {% include 'privacy_note.html' %}
      </div>
    </div>
  </div>
</form>

{% url 'users:account_login' as login_url %}
<p>{% blocktrans %}Bereits registriert? <a href="{{login_url}}">Melde dich mit deiner E-Mail Adresse an</a>.</p>{% endblocktrans %}

{% endblock content %}
