{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Vielen Dank!' %}</h1>
{% blocktrans %}
<p>Mit deiner Hilfe kämpfen wir gemeinsam für die <a href="https://99prozent.ch">99 % Initiative</a>.</p>
<p>Möchtest du deine eigene Seite erstellen um deine Freund*innen über die Initiative zu informieren? Dann melde dich mit deiner E-Mail Adresse an und <a href="#">erstelle deine eigene Seite.</a></p>
{% endblocktrans %}
{% endblock %}
